[submodule "MASPreferences"]
	path = MASPreferences
	url = https://github.com/shpakovski/MASPreferences.git
[submodule "CocoaLumberjack"]
	path = CocoaLumberjack
	url = https://github.com/robbiehanson/CocoaLumberjack
