[submodule "MASPreferences"]
	path = MASPreferences
	url = https://github.com/brantyoung/MASPreferences.git
[submodule "CocoaLumberjack"]
	path = CocoaLumberjack
	url = https://github.com/robbiehanson/CocoaLumberjack
[submodule "EMKeychain"]
	path = EMKeychain
	url = https://github.com/brantyoung/EMKeychain
[submodule "INPopoverController"]
	path = INPopoverController
	url = https://github.com/indragiek/INPopoverController
[submodule "RNCryptor"]
	path = RNCryptor
	url = https://github.com/rnapier/RNCryptor
[submodule "sstoolkit"]
	path = sstoolkit
	url = https://github.com/soffes/sstoolkit
